
@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  body{
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  header{
    background-color: black;
    color: white;
    margin-left: -10px;
    margin-right: -10px;
    text-align: center;
  }
  
  h1 {
    margin: 0;
    padding-top: 20px;  
    font-family: 'Roboto';
    
  }
.quadrado {
    width: 200px;
    height: 200px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
    font-family: 'Roboto';
    overflow: hidden;
  }
  .quadrado img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .nomeprin{
    position: absolute;
    left: 221px;
    top: 65px;
  }
  .nomeprin h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: rgb(8, 0, 0);
    font-family: 'Roboto';
  }

  .sobremim {
    width:900px;
    height: 300px;
    margin: 20px;
    overflow: auto;
    font-family: 'Roboto';
    margin-bottom: 20px;
    

  }
  .sobremim::-webkit-scrollbar {
    width: 10px;
    border-radius: 5px;
  }

  .sobremim::-webkit-scrollbar-track {
    background-color: #f2f2f2;
    border-radius: 5px;
  }

  .sobremim::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
  }

  
  .hab{
    position: absolute;
    top: 353px;
    left: 1000px;
    font-family: 'Roboto';
    margin-top: 20px;
    max-height: 200px;
    overflow-y: auto;
    order: -1;
    display: flex;
    flex-direction: column;
    overflow: auto;

  }
  @media (max-width: 767px) {
    .sobremim {
      order: 1;
    }
  
    .hab {
      order: 2;
      margin-top: 20px;
    }
  }
  .hab::-webkit-scrollbar {
    width: 10px;
    border-radius: 5px;
  }

  .hab::-webkit-scrollbar-track {
    background-color: #f2f2f2;
    border-radius: 5px;
  }

  .hab::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
  }
  footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: 'Roboto';
  }
  .sobremim p {
    font-size: 18px;
  }
  .hab ul {
    font-size: 18px;
  }
  .preview {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  